name: Run checkstyle
on:
  pull_request:
permissions:
  contents: read
jobs:
  checkstyle:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd
      - name: Set up JDK 21
        uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654
        with:
          java-version: "21"
          distribution: temurin
      - name: Set up Gradle
        uses: gradle/actions/setup-gradle@f29f5a9d7b09a7c6b29859002d29d24e1674c884
        with:
          gradle-version: "8.10.2"
      - name: Run checkstyle
        run: ./gradlew checkstyleMain checkstyleTest
