name: Build Plugin with Gradle
on:
  push:
    branches: [ "master" ]
  pull_request:
permissions:
  contents: read
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd
      - name: Set up JDK 21
        uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654
        with:
          java-version: "21"
          distribution: temurin
      - name: Set up Gradle
        uses: gradle/actions/setup-gradle@f29f5a9d7b09a7c6b29859002d29d24e1674c884
        with:
          gradle-version: "8.14.2"
      - name: Build with Gradle
        run: ./gradlew build --refresh-dependencies
      - uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f
        with:
          name: AuraSkills
          path: build/libs/AuraSkills-**.jar
      - name: Delete all summary content
        run: rm $GITHUB_STEP_SUMMARY
